//
.galereya.gallery  .galereya-grid { top: 80px; }
//
// .galereya.gallery  .galereya-cell {
// @include transition(transform, 0.3s, ease-in-out);
//
// }
// .galereya.gallery  .galereya-cell:hover {
// transform: scale(1.5);
// -webkit-box-shadow: 0 0 2em #000;
// box-shadow: 0 0 2em #000;
// }
//
//
// .galereya.gallery  .galereya-cell-overlay {
// box-shadow: none;
// }
//
//
 .galereya.gallery .galereya-top { display: none; }
.galereya.gallery .galereya-cell-desc { display: none; }

//
// .galereya-slider.gallery .galereya-slider-desc {
//   display: none;
// }
